.topList {
  display: flex;
  flex-direction: column;
  gap: var(--space-3);
}

.divider {
  border: none;
  border-top: 1px solid #ffffff14;
  margin-block: 16px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: var(--space-3);
}
